*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    border: 1px solid black;
    width: 100%;
    height: 600px;
    background-image: url(./images/desktop/image-hero.jpg);
}
.logo-nav{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.logo{
    height: 100px;
    width: 30%;
    background-image: url(./images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.nav{
    height: 100px;
    width: 60%;}
.menu-icon{
        visibility: hidden;
    }
    
li{
    list-style: none;
    
}

li a{
    color: white;
    text-decoration: none;
}

ul{
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    margin-right: 5em;
}

.header_div{
    border: 2px solid white;
    width: 40%;
    height: 300px;

   margin-left: 5em;
   margin-top: 3em;
}
p{
    font-size: 70px;
    color: white;}



    main{
        width: 100%;
    }
    .first-main{
        height: 700px;
        width: 100%;
        display: flex;
        
    
    }
    .first-mainimg{
        width: 50%;
        height: 500px;
        margin-left: 5em;
        margin-top: 8em;
        background-image: url(./images/desktop/image-interactive.jpg);
    
    }
    .first-maintext{
        width: 50%;
        height: 300px;
        margin-top: 17em;
        transform:translate(-5em, 3.5em);
        background-color: white;
        padding-left: 4em;
        
    
    }
    .first-p1{
        color: black;
        font-size: xx-large;
    }
    .first-p2{
        color: black;
        font-size: medium;
    }

    .second-main{
        width: 100%;
        
    }

        
.second-main P{
    color: rgb(54, 47, 47);
    font-size: 50px;
    text-align: center;
}

.third-main{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    
}
.img1{
    height: 400px;
    width: 20%;
    margin-top: 2em;
    background-image: url(./images/desktop/image-deep-earth.jpg);
    background-size: cover;

}
.img2{
    height: 400px;
    width: 20%;
    margin-top: 2em;
    background-image: url(./images/desktop/image-night-arcade.jpg);
    background-size: cover;
}
    

.img3{
        height: 400px;
        width: 20%;
        margin-top: 2em;
        background-image: url(./images/desktop/image-soccer-team.jpg);
        background-size: cover;
}
.img4{
    height: 400px;
    width: 20%;
    margin-top: 2em;
    background-image: url(./images/desktop/image-grid.jpg);
    background-size: cover;
}
h2{
    color: whitesmoke;
    padding-top: 7em;
    padding-left: 1em;
}


.fourth-main{
    width: 100%;
    height: 520px;
    display: flex;
    justify-content: space-evenly;
    
}
.img5{
    height: 400px;
    width: 20%;
    background-image: url(./images/desktop/image-from-above.jpg);
    background-size: cover;
    
}
.img6{
    height: 400px;
    width: 20%;
    background-image: url(./images/desktop/image-pocket-borealis.jpg);
    background-size: cover;
}
    

.img7{
        height: 400px;
        width: 20%;
        background-image: url(./images/desktop/image-curiosity.jpg);
        background-size: cover;
}
.img8{
    height: 400px;
    width: 20%;
    background-image: url(./images/desktop/image-fisheye.jpg);
    background-size: cover;
    

}


.button{
    visibility: hidden;
}


.footer-logonav{
    height: 200px;
    width: 100%;
    display: flex;
    background-color: black;
}

.footer-logo{
    height: 150px;
    width: 50%;

}

img{
    padding-left: 6em;
    padding-top: 1em;
}

.footer-nav{
    width: 50%;
    height: 150px;
padding-top: 3em;

}
h3{
    color: whitesmoke;
    padding-left: 2em;
    padding-top: 2em;
    font-family: 'Courier New', Courier, monospace;
}


    






@media(max-width: 576px){
header{
    background-image: url(./images/mobile/image-hero.jpg);
    background-size: cover;
    height: 800px;
}
.nav ul{
   display: none;
}
.menu-icon{
    display: block;
    visibility: visible;
    margin-left: 9em;
    margin-top: 1em;

}
.logo{
    height: 50px;
    width: 50%;
    

}
.header_div{
    border: 2px solid white;
    height: 350px;
    width: 75%;
    margin-top: 12em;
    padding-left: 1em;
    padding-top: 3em;
}
p{
    font-size: 50px;
}
.first-main{
     height: 700px; 
    width: 100%;
    display: block;}
    



.first-mainimg{
    width: 80%;
    height: 250px;
    margin-top: 3em;
    margin-left: 4em;
    background-image: url(./images/mobile/image-interactive.jpg);
    background-size: contain;
    background-repeat: no-repeat;}


    .first-maintext{
        width: fit-content;
        height: 250px;
        background-color: white;
        margin-left: 7em;
        margin-top: 1.8em;
    }

    .first-p1{
        font-size: 45px;
        padding-bottom: 1em;
    }
    .first-p2{
        color: black;
        font-size: large;
    }
    .second-main P{
      margin-top: 2.5em;
      padding-bottom: 1em;
     }


     .third-main{
        width: 100%;
        height: 1000px;
        display: block;}
        
        .img1{
            height: 230px;
            width: 100%;
        
            background-image: url(./images/mobile/image-deep-earth.jpg);
            background-size: cover;}
        
       
       .img2{
                height: 230px;
                width: 100%;
                background-image: url(./images/mobile/image-night-arcade.jpg);
                background-size: cover;}
               
               
      .img3{
                    height: 230px;
                    width: 100%;
                    background-image: url(./images/mobile/image-soccer-team.jpg);
                    background-size: cover;}
      .img4{
            height: 230px;
            width: 100%;
            background-image: url(./images/mobile/image-grid.jpg);
            background-size: cover;}

                               
  .fourth-main{
                width: 100%;
                height: 1150px;
                display: block;
                justify-content: space-evenly;
            }
                
                .img5{
                    height: 230px;
                    width: 100%;
                    margin-top: 2em;
                    background-image: url(./images/mobile/image-from-above.jpg);
                    background-size: cover;}
                
               
               .img6{
                        height: 230px;
                        width: 100%;
                        margin-top: 2em;
                        background-image: url(./images/mobile/image-pocket-borealis.jpg);
                        background-size: cover;}
                       
                       
              .img7{
                            height: 230px;
                            width: 100%;
                            margin-top: 2em;
                            background-image: url(./images/mobile/image-curiosity.jpg);
                            background-size: cover;}
              .img8{
                    height: 230px;
                    width: 100%;
                    margin-top: 2em;
                    background-image: url(./images/mobile/image-fisheye.jpg);
                    background-size: cover;}
        
            
.button{
    visibility: visible;
    width: 50%;
    height: 100px;
    font-size: 30px;
    margin-left: 4em;
    margin-bottom: 3em;
}     

.footer-logonav{
    height: 500px;
    display: block;}



    .footer-logo{
        height: 150px;
        width: 100%;
    
    }

    .footer-nav{
    
        height: 150px;
    padding-top: 3em;}

    h3{
        padding-left: 2em;
        padding-top: 2em;
    }
    
    







}